*.swp
*.class
*.jar
.gradle/
build
.idea/
*.iml
dist/
.sass-cache
*~
harborview-master
harbor_vinapu
tikal
havnlogin
libs
target

elm/elm-stuff/
elm/elm-stuff-0.17/
elm/*.js
tmp/
harborview_orig
src/resources/templates/vinapu/elementload.html
src/resources/public/js/elm/
*.swo
One.elm
*.log
reflection_warning
elm/elm-stuff.mdl_table/
feed/

