a.href-button {
   background: #942d16;
   padding: 10px 20px;
   color: #fff;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

a.href-button:hover {
   background: #942d16;
   color: #ccc;
   }

a.href-button:active {
   background: #942d16;
   }
