body {
  color: #000;
  background-color: #fff;
  font-family: Verdana, Arial, serif;
  font-size: 0.9em;
  margin: 0;
  padding: 0; }

a, a:link, a:visited, a:active, a.current {
  margin: 0px;
  text-decoration: none;
  color: black;
  font-weight: normal; }

img {
  border: 0px; }

nav a, nav a:link, nav a:visited, nav a:active, nav a.current {
  padding: 10px;
  font-size: 0.9em;
  margin: 0px;
  text-decoration: none;
  color: black; }

table.std {
  border-width: 1px 1px 1px 1px;
  border-spacing: 1px;
  border-style: solid solid solid solid;
  border-color: black;
  border-collapse: collapse;
  background-color: transparent; }

table.std td,
table.std th {
  border-width: 1px 1px 1px 1px;
  padding: 5px;
  border-style: solid solid solid solid;
  border-color: black;
  font-size: 0.9em;
  color: black;
  background-color: transparent;
  -moz-border-radius: 0px 0px 0px 0px; }

table.std caption {
  color: black;
  text-align: left; }

table.inactive caption {
  color: black; }

tr.inactive td {
  color: black; }

td .ajax-dlg {
  background-color: black;
  padding: 5px 10px 5px 10px; }
