body {
  color: #000;
  background-color: #FFF8DC;
  font-family: Verdana, Arial, serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  /* When using the navbar-top-fixed */ }

a, a:link, a:visited, a:active, a.current {
  margin: 0px;
  text-decoration: none;
  color: #b9becf;
  font-weight: normal; }

img {
  border: 0px; }

/*
nav a {
    &, &:link, &:visited, &:active, &.current {
       padding: 10px;
       font-size: $fs;
       margin: 0px;
       text-decoration: none;
       color: $nav-color;
    }
}
*/
.row {
  margin-top: 30px;
  margin-bottom: 30px; }

.logo {
  background: url("/img/02.png") center no-repeat;
  position: absolute;
  top: 10px;
  left: 88%;
  width: 163px;
  height: 159px;
  z-index: 9999; }

.top-canvas {
  border: 1px solid red;
  position: absolute;
  top: 300px;
  left: 200px;
  width: 1310px;
  height: 600px; }

.navbar-inverse {
  background-color: #FFF8DC; }

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #52555E; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #52555E; }

.dropdown-menu {
  background-color: #FFFFFF; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #52555E; }

.navbar-inverse {
  background-image: none; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: none; }

.navbar-inverse {
  border-color: #FFF8DC; }

.navbar-inverse .navbar-brand {
  color: #000000; }

.navbar-inverse .navbar-brand:hover {
  color: #A8A290; }

.navbar-inverse .navbar-nav > li > a {
  color: #000000; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFFFFF; }

.dropdown-menu > li > a {
  color: #52555E; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #000000; }

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #FFFFFF; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #000000; }

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-bottom-color: #FFFFFF; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 0, 0, 0.2);
  z-index: 99999;
  opacity: 0;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); }

a.href-button {
  background: #942d16;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle; }

a.href-button:hover {
  background: #942d16;
  color: #ccc; }

a.href-button:active {
  background: #942d16; }

a.href-td {
  padding: 5px 5px 5px 5px;
  background: #942d16;
  color: #fff; }

div.c1, div.c2, div.c3 {
  position: absolute;
  left: 200px; }

div.c1 {
  top: 200px; }

div.c2 {
  top: 850px; }

div.c3 {
  top: 720px; }

canvas.c1, canvas.c2, canvas.c3 {
  border-style: solid;
  border-width: 1px;
  border-color: #000000; }

/*# sourceMappingURL=harborview.css.map */
