body {
  color: #000;
  background-color: #abb;
  /*background-image:url('../img/background.jpg');*/
  font-family: Verdana, Arial, serif;
  /*font-size: 1em;*/
  margin: 0;
  padding: 0; }

a, a:link, a:visited, a:active, a.current {
  margin: 0px;
  text-decoration: none;
  color: white;
  font-weight: normal; }

img {
  border: 0px; }

