        
                <table class="table">
                    <thead>
                    <tr>
                        <th>Oid</th>
                        <th>Sell volume</th>
                        <th>Status</th>
                        <th>-</th>
                        <th>Acc.oid</th>
                        <th>Rtyp</th>
                        <th>Desc</th>
                        <th>Value</th>
                        <th>Active</th>
                        <th>-</th>
                        <th>Deny oid</th>
                        <th>Rtyp</th>
                        <th>Desc</th>
                        <th>Value</th>
                        <th>Active</th>
                        <th>Memory</th>
                    </tr>
                    </thead>
                    {% comment %}
                    {% for elx in curelementloads %}
                    {% endfor %}
                    {% endcomment %}
                </table>
