
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous"/>
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/harborview.css">
    <!-- Latest compiled and minified JavaScript -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            -->
            <ul class="nav navbar-nav">
                <!--
                <li><a href="/hourlist">Timeliste</a></li>
                <li><a href="/generaljournal">Kassadagbok</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calls<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/opx/calls/1">NHY</a></li>
                        <li><a href="/opx/calls/2">STL</a></li>
                        <li><a href="/opx/calls/3">YAR</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Critters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/critters/overlook/3">[3] Money Critters</a></li>
                        <li><a href="/critters/overlook/4">[4] Test Critters</a></li>
                        <li><a href="/critters/overlook/11">[11] Paper Critters</a></li>
                    </ul>
                </li>
                -->
                <li><a href="/maunaloa">Maunaloa</a></li>
                <li><a href="/vinapu">Vinapu</a></li>
                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vinapu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Loads</a></li>
                        <li><a href="#">Elements</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
