

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!--
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/fc-3.2.2/fh-3.1.2/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/datatables/datatables.min.css"/>
    -->



    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/harborview.css">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            -->
            <ul class="nav navbar-nav">
                <li><a href="/hourlist">Timeliste</a></li>
                <li><a href="/generaljournal">Kassadagbok</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calls<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/opx/calls/1">NHY</a></li>
                        <li><a href="/opx/calls/2">STL</a></li>
                        <li><a href="/opx/calls/3">YAR</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Critters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/critters/overlook/3">[3] Money Critters</a></li>
                        <li><a href="/critters/overlook/4">[4] Test Critters</a></li>
                        <li><a href="/critters/overlook/11">[11] Paper Critters</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Maunaloa<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/maunaloa/charts">Charts</a></li>
                        <li><a href="/maunaloa/optiontickers">Options</a></li>
                    </ul>
                </li>
                <li><a href="/vinapu">Vinapu</a></li>
                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vinapu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Loads</a></li>
                        <li><a href="#">Elements</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/fc-3.2.2/fh-3.1.2/datatables.min.js"></script>
    <script type="text/javascript" src="/js/datatables/datatables.min.js"></script>
    -->
    <script src="/js/common.js"></script>
