<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeliste</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <table class="table">
                        <tr>
                            <td>Fakturanr: </td>
                            <td>
                                <select name="fnr" id="fnr">
                                    <option value="na">N/A</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Gruppe: </td>
                            <td>
                                <select name="group" id="group">
                                    <option value="na">N/A</option>
                                </select>
                            </td>
                        </tr>
                        <tr><td><label for="curdate">Dato:</label></td><td><input type="date" name="curdate" id="curdate" /></td></tr>
                        <tr><td><label for="from_time">Fra klokken:</label></td><td><input type="time" name="from_time" id="from_time" value="08:00" /></td></tr>
                        <tr><td><label for="to_time">Til klokken:</label></td><td><input type="time" name="to_time" id="to_time" value="16:00"/></td></tr>
                        <tr><td><label for="hours">Timer:</label></td><td><input type="number" step="0.25" name="hours" id="hours" value="7.5"/></td></tr>
                        <tr>
                            <td><input type="submit" id="hourlist" value="Oppdater" /></td>
                            <td><input type="submit" id="edithourlist" value="Editer" /></td>
                        </tr>
                        <tr>
                            <td><input type="submit" id="fetchgroupsums" value="Gruppesummer" /></td>
                            <td><input type="submit" id="overview" value="Overview" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="scripts"></div>
    <script src="/js/hourlist.js"></script>
</body>
</html>
