<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    <title>Maunaloa - Charts</title>
    -->
    <title>Visual Studio Web Example</title>
    <meta charset="UTF-8">
    {% include "templates/head.html" %}
    <script src="/js/elm/maunaloa/elm-charts.js"></script>
</head>
<body>
    <div class="logo"></div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#chart1">Daily</a></li>
      <li><a data-toggle="tab" href="#chart2">Weekly</a></li>
    </ul>

    <div class="container">
      <div class="tab-content">
        <div id="chart1" class="tab-pane active">
          <div class="container">
            <div id="my-app"></div>
          </div>
          <div style="position: absolute; top:300px; left:200px;">
            <canvas id="canvas1" width="1310" height="600"></canvas>
          </div>
          <div style="position: absolute; top:950px; left:200px;">
            <canvas id="canvas1b" width="1310" height="300"></canvas>
          </div>
        </div>
        <div id="chart2" class="tab-pane">
          <div class="container">
            <div id="my-app2"></div>
          </div>
          <div style="position: absolute; top:300px; left:200px;">
            <canvas id="canvas2" width="1310" height="600"></canvas>
          </div>
          <div style="position: absolute; top:950px; left:200px;">
            <canvas id="canvas2b" width="1310" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        /*
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // activated tab
            alert(target);
        });
        */
        var node = document.getElementById('my-app');
        var app = Elm.Maunaloa.Charts.embed(node, {
            isWeekly : false
        });

        var node2 = document.getElementById('my-app2');
        var app2 = Elm.Maunaloa.Charts.embed(node2, {
            isWeekly : true
        });
        var drawCanvas1 = function (chartInfo) {
            drawCanvas(chartInfo,'canvas1','canvas1b');
        }
        var drawCanvas2 = function (chartInfo) {
            drawCanvas(chartInfo,'canvas2','canvas2b');
        }
        var drawLines = function (ctx,xaxis,curLines,strokes) {
          for (var i = 0; i < curLines.length; ++i) {
              ctx.beginPath();
              var curStroke = strokes[i] === undefined ? "#000000" : strokes[i];
              var ys = curLines[i];
              drawGraph(ctx,xaxis,ys,curStroke);
          }
        }
        var day_millis =86400000;
        var incMonth = function(origDate,numMonths) {
            return new Date(origDate.getYear()+1900,origDate.getMonth()+numMonths,1);
        }
        var diffDays = function(d0,d1) {
            return (d1 - d0) / day_millis;
        }
        var hruler = function(ctx,chart,canvas) {
            var d0 = new Date(2016,4,1);
            var d1 = new Date(2016,8,1);
            ctx.fillStyle = "black";
            ctx.font = "16px Arial";
            ctx.strokeStyle = "#000000";
            ctx.lineWidth = 0.25;
            var ppx = canvas.width / diffDays(d0,d1); 
            var d0x = incMonth(d0,1);
            while (d0x < d1) {
                var days = diffDays(d0, d0x);
                console.log(days);
                var curX = ppx *days;
                ctx.beginPath();
                ctx.moveTo(curX,0);
                ctx.lineTo(curX,canvas.height);
                ctx.stroke();
                d0x = incMonth(d0x,1);
                //console.log(curX);
            }
        }
        var vruler = function(ctx,chart,canvas) {
          ctx.fillStyle = "black";
          ctx.font = "16px Arial";
          ctx.strokeStyle = "#000000";
          ctx.lineWidth = 0.25;
          minVal = chart.valueRange[0];
          maxVal = chart.valueRange[1];
          var ppy = chart.height / (maxVal - minVal);
          var step = chart.height / 10.0;
          for (var i=0; i<11; ++i) {
              var curStep = step * i;
              var curVal = maxVal - (curStep / ppy);
              ctx.beginPath();
              ctx.moveTo(0,curStep);
              ctx.lineTo(canvas.width,curStep);
              if (i===0) {
                ctx.fillText(curVal,10,curStep+18);
              }
              else {
                ctx.fillText(curVal,10,curStep-5);
              }
              ctx.stroke();
          }
        }

        var drawChart = function(canvasId,xaxis,chart,strokes) {
            var canvas = document.getElementById(canvasId);
            var ctx = canvas.getContext("2d");
            ctx.clearRect(0,0,canvas.width,canvas.height);
            if (chart.lines != null) {
              drawLines(ctx,xaxis,chart.lines,strokes);
            }
            if (chart.candlesticks != null) {
                ctx.strokeStyle = "#000000";
                ctx.fillStyle = "#ffaa00";
                ctx.lineWidth = 0.5;
                var numCandlesticks = chart.candlesticks.length;
                for (var i = 0; i < numCandlesticks; ++i) {
                  drawCandlestick(ctx,xaxis[i],chart.candlesticks[i]);
                }
            }
            vruler(ctx,chart,canvas);
            hruler(ctx,chart,canvas);
         }

        var drawCanvas = function (chartInfo,canvasId,canvasId2) {
          drawChart(canvasId,chartInfo.xaxis,chartInfo.chart,chartInfo.strokes);
          if (chartInfo.chart2 != null) {
            drawChart(canvasId2,chartInfo.xaxis,chartInfo.chart2,chartInfo.strokes);
          }
        }
        app.ports.drawCanvas.subscribe(drawCanvas1);
        app2.ports.drawCanvas.subscribe(drawCanvas2);

        var drawGraph = function (ctx,xs,ys,strokeStyle) {
          ctx.lineWidth = 0.5;
          // ctx.setLineDash([5,10]);
          ctx.strokeStyle = strokeStyle; // "#FF0000";
          ctx.moveTo(xs[0],ys[0]);
          for (var i = 1; i < ys.length; ++i) {
            var y = ys[i];
            var x = xs[i];
            ctx.lineTo(x,y);
          }
          ctx.stroke();
        }

        var drawCandlestick = function(ctx,x,candleStick) {
          var x0 = x - 4;
          ctx.beginPath();

          if (candleStick.c > candleStick.o) {
              // Bearish
              ctx.moveTo(x,candleStick.h);
              ctx.lineTo(x,candleStick.o);
              ctx.moveTo(x,candleStick.c);
              ctx.lineTo(x,candleStick.l);
              var cndlHeight = candleStick.c - candleStick.o;
              ctx.rect(x0,candleStick.o,8,cndlHeight);
              ctx.fillRect(x0,candleStick.o,8,cndlHeight);
          }
          else {
              // Bullish
              var cndlHeight = candleStick.o - candleStick.c;

              // If doji
              if (cndlHeight === 0.0) {
                cndlHeight = 1.0;
                var x1 = x + 4;
                ctx.moveTo(x,candleStick.h);
                ctx.lineTo(x,candleStick.l);
                ctx.moveTo(x0,candleStick.c);
                ctx.lineTo(x1,candleStick.c);
              }
              else {
                ctx.moveTo(x,candleStick.h);
                ctx.lineTo(x,candleStick.c);
                ctx.moveTo(x,candleStick.o);
                ctx.lineTo(x,candleStick.l);
                ctx.rect(x0,candleStick.c,8,cndlHeight);
              }
          }
          ctx.stroke();
        }
    </script>
</body>
</html>
