<!DOCTYPE html>
<html lang="en">
<head>
    <title>Maunaloa - Charts</title>
    <meta charset="UTF-8">
    {% include "templates/head.html" %}
    <script src="/js/elm/maunaloa/elm-charts.js"></script>
</head>
<body>
    <div class="logo"></div>
    <div class="container">
        <div id="my-app"></div>
    </div>
    <div style="position: absolute; top:200px; left:200px;">
        <canvas id="myCanvas" width="200" height="100"></canvas>
    </div
    <script type="text/javascript">
        var node = document.getElementById('my-app');
        var app = Elm.Maunaloa.Charts.embed(node);
    </script>
</body>
</html>
