
<div id="dlg-new-critter" class="modalDialog">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#critter">Critter</a></li>
            <li><a data-toggle="tab" href="#critter-2">Critter 2</a></li>
            <li><a data-toggle="tab" href="#accept-rule">Accept Rule</a></li>
        </ul>
        <div class="tab-content">
            <div id="critter" class="tab-pane active">
                <h3>Critter</h3>
                <!--
                <form role="form" class="form-inline">
                -->
                <form role="form">
                    <div class="form-group">
                        <label for="critter-opx">Option:</label>
                        <select class="form-control" id="critter-opx"></select>
                    </div>
                    <div class="form-group">
                        <label for="sell-vol">Sell Volume:</label>
                        <input type="number" class="form-control" id="sell-vol">
                    </div>
                    <div class="form-group">
                        <label for="rem-sell-vol">Remaining Sell Volume:</label>
                        <input type="number" class="form-control" id="rem-sell-vol">
                    </div>
                </form>
            </div>
            <div id="critter-2" class="tab-pane">
                <h3>Critter 2</h3>
                <form role="form">
                    <div class="form-group">
                        <label for="price">Option Price:</label>
                        <input type="number" class="form-control" id="price">
                    </div>
                    <div class="form-group">
                        <label for="buy">Buy at Purchase:</label>
                        <input type="number" class="form-control" id="buy">
                    </div>
                    <div class="form-group">
                        <label for="spot">Spot at Purchase:</label>
                        <input type="number" class="form-control" id="spot">
                    </div>
                </form>
            </div>
            <div id="accept-rule" class="tab-pane">
                <h3>Accept Rule</h3>
                <form role="form">
                    <div class="form-group">
                        <label for="acc-val" style="display:block;">Value:</label>
                        <input type="text" class="form-control" value="0.0" id="acc-val">
                    </div>
                    <div class="form-group">
                        <label for="critter-acc-rtyp" style="display:block;">Rtyp:</label>
                        <select class="form-control" id="critter-acc-rtyp"></select>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" class="btn btn-default" id="new-critter-ok">OK</button>
        <a href="#close" id="new-critter-cancel">Cancel</a>
    </div>
</div>
