<!DOCTYPE html>
<html lang="en">
<head>
    <title>Critters - overlook</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="purchases"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="#dlg-new-accrule" id="jax" class="href-hidden">Open Modal</a>
        </div>
    </div>
    <div class="scripts"></div>
    <script src="/js/critters.js"></script>

    <!-- Dialog box -->
    <div id="dlg-new-accrule" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <button id="dlgOkBtn" type="button">Ok</button>
            <button id="dlgCloseBtn" type="button">Cancel</button>
        </div>
    </div>
</body>
</html>