<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Harbor View</title>
</head>
<body>
    <header class="ribbon-area"></header>
    <section class="main">
        <form>
            <table class="std">
                <tr>
                    <td>Projects:</td>
                    <td>
                        <select name="projects" id="projects">
                            <option value="-1">Test Project</option>
                        </select>
                    </td>
                    <td>Buildings:</td>
                    <td>
                        <select name="buildings" id="buildings">
                            <option value="-1">Test Building</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </section>
</body>
</html>