<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Harbor View</title>
</head>
<body>
    <header class="ribbon-area"></header>
    <section class="main">
        <form>
            <table class="std">
                <tr>
                    <td>Project:</td>
                    <td>
                        <select name="project" id="project">
                            <option value="-1">Test Project</option>
                        </select>
                    </td>
                    <td>Building:</td>
                    <td>
                        <select name="building" id="building">
                            <option value="-1">Test Building</option>
                        </select>
                    </td>
                    <td>Floor Plan:</td>
                    <td>
                        <select name="floorplan" id="floorplan">
                            <option value="na">-</option>
                            <option value="-1">-1</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td><input type="submit" id="shownewproject" value="New Project" /></td>
                    <td><input type="submit" id="shownewbuilding" value="New Building" /></td>
                    <td><input type="submit" id="shownewsystem" value="New System" /></td>
                </tr>
            </table>
        </form>
        <p id="floorplansystems">Floor Plan Systems</p>
    </section>
    <dialog id="dlg1">
        <input type="hidden" id="dlg1-pid" value="-1"/>
        <input type="hidden" id="dlg1-bid" value="-1"/>
        <p id="dlg1-header"></p>
        <p><select id="dlg1-etg">
            <option value="0">Kjeller</option>
            <option value="1">Etg 1</option>
            <option value="2">Etg 2</option>
            <option value="3">Etg 3</option>
            <option value="4">Etg 4</option>
            <option value="5">Etg 5</option>
            <option value="6">Etg 6</option>
        </select></p>
        <p>Description:<input type="text" id="dlg1-dsc"/></p>
        <p>Group Id:<input type="number" id="dlg1-group" value="1"/></p>
        <button id="dlg1-ok">Ok</button>
        <button id="dlg1-close">Close</button>
    </dialog>
</body>
</html>
