<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Harbor View</title>
</head>
<body>
    <header class="ribbon-area"></header>
    <section class="main">
        <form>
            <table class="std">
                <tr>
                    <td>Project:</td>
                    <td>
                        <select name="project" id="project">
                            <option value="-1">Test Project</option>
                        </select>
                    </td>
                    <td>Building:</td>
                    <td>
                        <select name="building" id="building">
                            <option value="-1">Test Building</option>
                        </select>
                    </td>
                    <td>Floor Plan:</td>
                    <td>
                        <select name="floorplan" id="floorplan">
                            <option value="na">-</option>
                            <option value="all">All Floors</option>
                            <option value="-1">Basement</option>
                            <option value="1">Etg 1</option>
                            <option value="2">Etg 2</option>
                            <option value="3">Etg 3</option>
                            <option value="4">Etg 4</option>
                            <option value="5">Etg 5</option>
                        </select>
                    </td>
                    <td><input type="submit" id="shownewproject" value="New Project" /></td>
                    <td><input type="submit" id="shownewbuilding" value="New Building" /></td>
                    <td><input type="submit" id="shownewsystem" value="New System" /></td>
                </tr>
            </table>
        </form>
        <p id="floorplansystems">Floor Plan Systems</p>
    </section>
    <dialog id="dlg1" class="small">
        <input type="hidden" id="dlg1-pid" value="-1"/>
        <input type="hidden" id="dlg1-bid" value="-1"/>
        <input type="hidden" id="dlg1-fid" value="-1"/>
        <p id="dlg1-header"></p>
        <p>Description:<input type="text" id="dlg1-sd"/></p>
        <p>Group Id:<input type="number" id="dlg1-group" value="1"/></p>
        <button id="dlg1-ok">Ok</button>
        <button id="dlg1-close">Close</button>
    </dialog>
    <dialog id="dlg2" class="small">
        <input type="hidden" id="dlg2-sys" value="-1"/>
        <p id="dlg2-header"></p>
        <p>Description:<input type="text" id="dlg2-dsc"/></p>
        <p>Dead load:<select id="dlg2-deadloads"></select></p>
        <p>Dead load form factor:<input type="number" step="0.1" value="1.0" id="dlg2-dff"/></p>
        <p>Live load:<select id="dlg2-liveloads"></select></p>
        <p>Live load form factor:<input type="number" step="0.1" value="1.0" id="dlg2-lff"/></p>
        <p>Load plate weight:<input type="number" step="0.1" value="0.5" id="dlg2-plw"/></p>
        <p>Plate width:<input type="number" step="0.25" value="0.0" id="dlg2-w1"/></p>
        <p>Coord system:<select id="dlg2-coordsys">
            <option value="-1">-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></p>
        <p>N1:<select id="dlg2-n1"></select></p>
        <p>N2:<select id="dlg2-n2"></select></p>
        <p><button id="dlg2-ok">Ok</button>
        <button id="dlg2-close">Close</button></p>
    </dialog>
    <dialog id="dlg3" class="small">
        <input type="hidden" id="dlg3-oid" value="-1"/>
        <p id="dlg3-header"></p>
        <p>Dead load:<select id="dlg3-deadloads"></select></p>
        <p>Dead load form factor:<input type="number" step="0.1" value="1.0" id="dlg3-dff"/></p>
        <p>Live load:<select id="dlg3-liveloads"></select></p>
        <p>Live load form factor:<input type="number" step="0.1" value="1.0" id="dlg3-lff"/></p>
        <p><button id="dlg3-ok">Ok</button>
            <button id="dlg3-close">Close</button></p>
    </dialog>
</body>
</html>
