<!DOCTYPE html>
<html>
<head>
    <title>Kassadagbok</title>
</head>
<body>
    <header class="ribbon-area"></header>

    <section class="main">
        <div class="left">
            <form>
            <table class="std">
                <tr>
                    <td>Preset:</td>
                    <td>
                        <select name="preset" id="preset">
                            <option value="-1">-</option>
                            <option value="1">1 - Taxi</option>
                            <option value="2">2 - Datautstyr</option>
                            <option value="3">3 - NextGenTel</option>
                            <option value="4">4 - NetCom</option>
                            <option value="5">5 - Telenor</option>
                            <option value="6">6 - Obos</option>
                            <option value="7">7 - Hafslund</option>
                            <option value="8">8 - Lunsj</option>
                            <option value="9">9 - Overtidsmat</option>
                            <option value="10">10 - Ruter mnd kort</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Kredit:</td>
                    <td>
                        <select name="credit" id="credit">
                            <option value="na">N/A</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Debet:</td>
                    <td>
                        <select name="debit" id="debit">
                            <option value="na">N/A</option>
                        </select>
                    </td>
                </tr>
                <tr><td><label for="curdate">Dato:</label></td><td><input type="text" name="curdate" id="curdate" /></td></tr>
                <!--
                <tr><td><label for="curdate">Dato:</label></td><td><input type="date" name="curdate" id="curdate" /></td></tr>
                -->
                <tr><td><label for="bilag">Bilag:</label></td><td><input type="number" name="bilag" id="bilag" value="0" /></td></tr>
                <tr><td><label for="desc">Tekst:</label></td><td><input type="text" name="desc" id="desc" value="-"/></td></tr>
                <tr><td><label for="amount">Beløp:</label></td><td><input type="text" step="0.1" name="amount" id="amount" value="0.0"/></td></tr>
                <tr><td><label for="mvaamt">Mva beløp:</label></td><td><input type="texts" step="0.1" name="mvaamt" id="mvaamt" value="0.0"/></td></tr>
                <tr>
                    <td>MVA:</td>
                    <td>
                        <select name="mva" id="mva">
                            <option value="-1">0 %</option>
                            <option value="2714">8 % (Lav sats)</option>
                            <option value="2713">15 % (Middel sats)</option>
                            <option value="2711" selected>25 % (Høy sats)</option>
                        </select>
                    </td>
                </tr>
                <tr><td><label for="incbilag">Increment bilag:</label></td><td><input type="checkbox" name="incbilag" id="incbilag" checked="1"/></td></tr>
                <tr>
                    <td><input type="submit" id="insertkassadagbok" value="Oppdater" /></td>
                    <td><input type="submit" id="insertinvoice" value="Faktura" /></td>
                    <td><input type="number" step="1" id="invoicenum" value="Fakturanr" /></td>
                </tr>
            </table>
        </form>
        </div>
        <div class="right">
            <div id="feedback"></div>
        </div>
    </section>


    <aside class="vert-menu-area">
        <a href="/critters/overlook">Overlook</a>
        <a href="/critters/new">New Critter</a>
        <a href="one">Critter three</a>
        <a href="one">Critter four</a>
    </aside>
</body>
</html>
