<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header class="ribbon-area">
        <div class="ribbon-nav">
            <nav id="hrmenu" class="hrmenu">
                <ul>
                    <li>
                        <a href="#">OVERVIEW</a>
                        <div class="hrsub">
                            <div class="hrsub-inner">
                                <div>
                                    <h4>Floor Plans</h4>
                                    <ul>
                                        <li><a href="/systems">Systems</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>