<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form class="floorplans-form">
        <table class="floorplans std">
            <thead>
                <tr>
                    <th>Element Id</th>
                    <th>N1</th>
                    <th></th>
                    <th>N2</th>
                    <th></th>
                    <th>Plw</th>
                    <th>W1</th>
                    <th>W2</th>
                    <th>Wnode</th>
                    <th>Load Id</th>
                    <th>Load Dsc</th>
                    <th>Lf</th>
                    <th>Ff</th>
                    <th>L.cat</th>
                    <th>Service</th>
                    <th>Ultimate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="submit" class="shownewvinapuelement" data-oid="-1" value="New element" /></td>
                </tr>
                <tr class="rows"></tr>
            </tbody>
        </table>
    </form>

    <p class="no-floorplan-systems">
        No floorplan Systems!
    </p>
</body>
</html>
