<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <table class="floorplans std">
        <!--
        <caption>Floor Plans</caption>
        -->
        <thead>
            <tr>
                <th>Sys Id</th>
                <th>Building Id</th>
                <th>Floor Plan</th>
                <th>Building Desc</th>
                <th>Sys Desc</th>
            </tr>
        </thead>
        <tbody>
            <tr class="rows"></tr>
        </tbody>
    </table>

</body>
</html>