<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Harbor View - Steel Elements</title>
    <link rel="stylesheet" href="harborview.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="dx.js"></script>
</head>
<body>
    <header class="ribbon-area"></header>
    <section class="main">
        <form>
            <table class="std">
                <tr>
                    <td>Project:</td>
                    <td>
                        <select name="project" id="project">
                            <option value="-1">Test Project</option>
                        </select>
                    </td>
                    <td>Building:</td>
                    <td>
                        <select name="building" id="building">
                            <option value="-1">Test Building</option>
                        </select>
                    </td>
                    <td>Floor Plan:</td>
                    <td>
                        <select name="floorplan" id="floorplan">
                            <option value="na">-</option>
                            <option value="-1">Basement</option>
                            <option value="1">Etg 1</option>
                            <option value="2">Etg 2</option>
                            <option value="3">Etg 3</option>
                            <option value="4">Etg 4</option>
                            <option value="5">Etg 5</option>
                        </select>
                    </td>
                    <td>Systems:</td>
                    <td>
                        <select name="system" id="system">
                            <option value="-1">Test System</option>
                        </select>
                    </td>
                    <td><input type="submit" id="shownewdistload" value="New Dist Load" /></td>
                    <td><input type="submit" id="shownewelement" value="New Element" /></td>
                </tr>
            </table>
        </form>
        <p id="steelelements">Steel Elements</p>
    </section>
    <dialog id="dlg1" style="width: 1100px">
        <p id="dlg1-header"></p>
        <fieldset>
            <legend>Steel beam</legend>
            <label for="dlg1-steel">Steel beam</label>
            <select id="dlg1-steel"></select>
        </fieldset>
        <fieldset style="display: inline;">
            <legend>Nodes and node loads</legend>
            <p>
                <label for="dlg1-n1">N1:</label><select id="dlg1-n1"></select>
                <label for="dlg1-p1">P1:</label><input type="number" value="0.0" id="dlg1-p1" />
                <label for="dlg1-p1-lf">Lf 1:</label><input type="number" value="1.3" id="dlg1-p1-lf" />
            </p>
            <p>
                <label for="dlg1-n2">N2:</label><select id="dlg1-n2"></select>
                <label for="dlg1-p2">P2:</label><input type="number" id="dlg1-p2" value="0.0" />
                <label for="dlg1-p2-lf">Lf 2:</label><input type="number" value="1.3" id="dlg1-p2-lf" />
            </p>
            <p>
                <label for="dlg1-n3">N3:</label><select id="dlg1-n3"></select>
                <label for="dlg1-p3">P3:</label><input type="number" id="dlg1-p3" value="0.0" />
                <label for="dlg1-p3-lf">Lf 3:</label><input type="number" value="1.3" id="dlg1-p3-lf" />
            </p>
            <p>
                <label for="dlg1-n4">N4:</label><select id="dlg1-n4"></select>
                <label for="dlg1-p4">P4:</label><input type="number" id="dlg1-p4" value="0.0" />
                <label for="dlg1-p4-lf">Lf 4:</label><input type="number" value="1.3" id="dlg1-p4-lf" />
            </p>
            <p>
                <label for="dlg1-n5">N5:</label><select id="dlg1-n5"></select>
                <label for="dlg1-p5">P5:</label><input type="number" id="dlg1-p5" value="0.0" />
                <label for="dlg1-p5-lf">Lf 5:</label><input type="number" value="1.3" id="dlg1-p5-lf" />
            </p>
        </fieldset>
        <fieldset style="display: inline;">
            <legend>Element loads</legend>
            <p>
                <label for="dlg1-qall">Q all:</label>
                <select id="dlg1-qall"><option value="-1">-</option></select>
            </p>
            <p>
                <label for="dlg1-q1">Q1:</label>
                <select id="dlg1-q1"><option value="-1">-</option></select>
            </p>
            <p>
                <label for="dlg1-q2">Q2:</label>
                <select id="dlg1-q2"><option value="-1">-</option></select>
            </p>
            <p>
                <label for="dlg1-q3">Q3:</label>
                <select id="dlg1-q3"><option value="-1">-</option></select>
            </p>
            <p>
                <label for="dlg1-q4">Q4:</label>
                <select id="dlg1-q4"><option value="-1">-</option></select>
            </p>
            <!--
            <p>
                <label for="dlg1-q5">Q5:</label><input type="number" value="0.0" id="dlg1-q5"></input>
            </p>
            -->
        </fieldset>
        <span style="display:block;">
            <button id="dlg1-ok">Ok</button>
            <button id="dlg1-close">Close</button>
        </span>
    </dialog>
    <dialog id="dlg2" class="normal">
        <!--
         oid | sys_id | qx1 | qx2 | qy1 | qy2 |  qz1  |  qz2  |  lf
        -->
        <p id="dlg2-header"></p>

        <fieldset>
            <legend>Distributed loads</legend>
            <p>
                <label for="dlg2-qx1">Qx1:</label>
                <input id="dlg2-qx1" type="number" value="0.0" step="0.1" />
                <label for="dlg2-qx2">Qx2:</label>
                <input id="dlg2-qx2" type="number" value="0.0" step="0.1" />
            </p>
            <p>
                <label for="dlg2-qy1">Qy1:</label>
                <input id="dlg2-qy1" type="number" value="0.0" step="0.1" />
                <label for="dlg2-qy2">Qy2:</label>
                <input id="dlg2-qy2" type="number" value="0.0" step="0.1" />
            </p>
            <p>
                <label for="dlg2-qz1">Qz1:</label>
                <input id="dlg2-qz1" type="number" value="0.0" step="0.1" />
                <label for="dlg2-qz2">Qz2:</label>
                <input id="dlg2-qz2" type="number" value="0.0" step="0.1" />
            </p>
        </fieldset>
        <fieldset>
            <legend>Form factor</legend>
            <p>
                <label for="dlg2-lf">Load factor:</label>
                <input id="dlg2-lf" type="number" value="1.2" step="0.01" />
            </p>
        </fieldset>
        <span style="display:block;">
            <button id="dlg2-ok">Ok</button>
            <button id="dlg2-close">Close</button>
        </span>
    </dialog>
    <!--
    <dialog id="dlg3">
        <input type="hidden" id="dlg3-oid" value="-1"/>
        <p id="dlg3-header"></p>
        <p>Dead load:<select id="dlg3-deadloads"></select></p>
        <p>Dead load form factor:<input type="number" step="0.1" value="1.0" id="dlg3-dff"/></p>
        <p>Live load:<select id="dlg3-liveloads"></select></p>
        <p>Live load form factor:<input type="number" step="0.1" value="1.0" id="dlg3-lff"/></p>
        <p><button id="dlg3-ok">Ok</button>
            <button id="dlg3-close">Close</button></p>
    </dialog>
    -->
</body>
</html>
